[Unit]
Description=Aether Music Daemon
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/aetherd
Restart=on-failure
RestartSec=2
RuntimeDirectory=aether

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=default.target